*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
.warpper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._countainer {
  max-width: 1046;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
// Head ------------------------------------------
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  &__countainer {
    display: flex;
    min-height: 104;
    align-items: center;
  }
  @media (max-width: 479px) {
    &__countainer {
      min-height: 70;
    }
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0 136px 0 0;
  }
  @media (max-width: 992px) {
    &__logo {
      margin: 0 80px 0 0;
    }
  }
  @media (max-width: 767px) {
    &__logo {
      margin: 0 40px 0 0;
    }
  }
  @media (max-width: 479px) {
    &__logo {
      margin: 0 20px 0 0;
    }
  }
}
.menu {
  padding: 5px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__litem:not(:last-child) {
    margin: 0 21px 0 0;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: 737373;
  }
  @media (max-width: 479px) {
    &__link {
      font-size: 18px;
      color: #3e3e3e;
    }
  }
}
// Page ------------------------------------------
.page {
  flex: 1 1 auto;
}
.page {
  &__main-block {
  }
}
// main-block ------------------------------------------
.main-block {
  position: relative;
  &__countainer {
  }

  &__body {
    padding: 184px 0px 191px 0px;
    z-index: 2;
    position: relative;
    max-width: 400;
  }

  @media (max-width: 992px) {
    &__body {
      padding: 100px 0px 191px 0px;
    }
  }
  &__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  &__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 138%;
    letter-spacing: 0.2px;
  }
  @media (max-width: 479px) {
    &__title {
      font-size: 42px;
    }
  }

  &__text {
    color: #737373;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
  }

  @media (max-width: 992px) {
    &__text {
      color: #3e3e3e;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
  }

  &__button {
    min-height: 48px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    margin: 10px 0;
    border-radius: 37px;
    text-align: center;
    transition: all 0.3s ease 0s;

    &_border {
      border: 1px solid #0d5c63;
      color: #0d5c63;
    }
    &_orange {
      color: #ffffff;
      background-color: #ff7b47;
      border-color: #ff7b47;
    }
  }
  @media (max-width: 479px) {
    &__button {
      flex: 1 1 100%;
    }
  }

  @media (min-width: 479px) {
    &__button:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media (max-width: 1300px) {
    &__image img {
      object-position: right;
    }
  }
  @media (max-width: 992px) {
    &__image {
      opacity: 0.5;
    }
  }
}
// services ------------------------------------------
.page {
  &__services {
  }
}
.services {
  &__countainer {
  }

  &__body {
    margin-top: -112px;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 696px) {
    &__column {
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 1080px) {
    &__column {
      justify-content: center;
    }
  }

  &__item {
    background-color: #ffffff;

    &__reversce {
      background-color: #0d5c63;
      color: #ffffff;
    }
  }
}

.item-service {
  max-width: 328px;
  z-index: 2;
  box-shadow: 0px 13px 19px #00000012;
  &__icon {
    padding: 40px 0 10px 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding: 0 40px 10px 40px;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 0 40px 35px 40px;
    color: #737373;
    &__reversce {
      color: #ffffff;
    }
  }
}
.item-service:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1080px) {
  .item-service {
    display: flex;
    flex-wrap: wrap;
    max-width: 258px;
    z-index: 2;

    &__icon {
      padding: 30px 0 10px 30px;
    }

    &__title {
      font-size: 20px;
      line-height: 32px;
      padding: 0 30px 10px 30px;
    }

    &__text {
      font-size: 12px;
      line-height: 20px;
      padding: 0 30px 35px 30px;
    }
  }

  .item-service:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 697px) and (max-width: 843px) {
  .item-service {
    max-width: 47%;
  }
  .item-service:last-child {
    margin-top: 20px;
    margin-right: 20px;
    min-width: 100%;
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    .item-service {
      &__icon {
        padding: 15px 0 10px 20px;
      }
      &__icon img {
        height: 30px;
      }

      &__title {
        text-align: center;
        width: 80%;
        font-size: 20px;
        line-height: 32px;

        padding: 15px 10px 10px 20px;
      }

      &__text {
        text-align: center;
        width: 100%;
        font-size: 12px;
        line-height: 20px;

        padding: 0 20px 15px 20px;
      }
    }
  }
}
@media (max-width: 696px) {
  .item-service {
    display: flex;
    min-width: 100%;
    z-index: 2;
    flex-wrap: wrap;

    &__icon {
      padding: 15px 0 10px 20px;
    }
    &__icon img {
      height: 30px;
    }

    &__title {
      text-align: center;
      width: 80%;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.1px;
      padding: 15px 10px 10px 20px;
    }

    &__text {
      text-align: center;
      width: 100%;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.1px;
      padding: 0 20px 15px 20px;
    }
  }
  .item-service:not(:last-child) {
    margin-right: 0px;
    background-color: #c9f0fb;
  }
  .item-service:not(:first-child) {
    margin-bottom: 10px;
  }
}

// Footer ------------------------------------------
